script.
    import PlayerPanel from "./PlayerPanel.pug"

    let playersArr = []
    let maxPoints = 0

    const addPlayer = () => {
        playersArr.push( "Player #" + (playersArr.length + 1))
        playersArr = playersArr
    }

    let setMax = (e) => {
        maxPoints = e.target.value
        maxPoints = maxPoints
    }


main
    h2 Darts It! 
        small v.0.5
    h1(style="display:{maxPoints != 0 ? 'block' : 'none'}") Play: {maxPoints}

    select(
      on:change="{setMax}"
      disabled={playersArr.length!=0}
    )
        option(value="0") Select Game Type
        option(value="---", disabled="true") ---
        option 301
        option 501
        option 701
        option(value="---", disabled="true") ---
        option Cricket
        option Cricket Low
        option Roundhouse
        option(value="up") Up Up Up!

    button(on:click="{addPlayer}",disabled="{maxPoints==0}") Add Player

    div

    {#each playersArr as player}
      PlayerPanel(
          name="{player}"
          maxPoints="{maxPoints}"
      )

style.
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
        margin-top: 0;
    }

    h2 {
        color: #aaa;
        font-weight: 100;
    }

    h2 small {
        font-size: 0.5em;
    }

    button {
        margin-left: 10px;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
