script.
    import PlayerPanel from "./PlayerPanel.pug"

    let playersArr = []
    let maxPoints = 301

    const addPlayer = () => {
        playersArr.push( "Player #" + (playersArr.length + 1))
        playersArr = playersArr
    }

    let setMax = (e) => {
        maxPoints = e.target.value
        maxPoints = maxPoints
    }


main
    h1 Darts It!

    span Game Type: 
    select(
      on:change="{setMax}"
    )
        option 301
        option 501
        option 701

    button(on:click="{addPlayer}") Add Player

    div

    {#each playersArr as player}
      PlayerPanel(
          name="{player}"
          maxPoints="{maxPoints}"
      )

style.
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
