script.
    export let board = []

    let name = Date.now() + "" + Math.random(Date.now())
    let results = {} 
    let changed = false
    
    const setChanged = () => {
        changed = true
        changed = changed
    }

    PubSub.subscribe("resetPanels", () => {
        let scoreBoard = document.getElementById("board-" + name)

        if(changed) {
            let roundScores = scoreBoard.querySelectorAll("input")
            roundScores.forEach((e) => e.checked = false)
            changed = false
        }
    })

div
    ul(id="board-{name}", class="board")
      li Bull
        input("type"="checkbox")
        input("type"="checkbox")
        input("type"="checkbox")
      {#each board as row}
        li {row}
            input(
                "type"="checkbox"
                "on:click"={setChanged}
            )

            input(
                "type"="checkbox"
                "on:click"={setChanged}
            )

            input(
                "type"="checkbox"
                "on:click"={setChanged}
            )

style.
    input[type="checkbox"] {
        width: 20px
    }

    ul.board {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
    }

    ul.board li {
        height: 40px;
    }
