script.
    export let bulls = 5

    let name = Date.now() + "" + Math.random(Date.now())
    let changed = false

    const setChanged = () => changed = true

    PubSub.subscribe("resetPanels", () => {
        let scoreBoard = document.getElementById("board-" + name)

        if(changed) {
            let roundScores = scoreBoard.querySelectorAll("input")
            roundScores.forEach((e) => e.checked = false)
            changed = false
        }
    })


div
    ul(id="board-{name}", class="board")
      {#each [...Array(bulls).keys()] as row}
        li Bull \#{row+1}.
          input(
            "type"="checkbox"
            "on:click"="{setChanged}"
          )

style.
    input[type="checkbox"] {
        width: 20px
    }

    ul.board {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
        display: flex;
        flex-wrap: wrap;
    }

    ul.board li {
        height: 40px;
        flex: 1 50%;
    }
