script.
    let name = Date.now()

    let board = 9
    let results = {} 
    let sum=0

    let round = 0
    let gamerAverage = 0

    let scoreTblId= "score-tbl-" + name

    const updateSum = (e) => {
        sum = 0

        let scoreTbl = document.getElementById(scoreTblId)
        let roundScores = scoreTbl.querySelectorAll(".round-score")

        roundScores.forEach(e => sum += parseInt(e.value))

        // round if value > 0 (yes, it will ignore 0 point rounds for now)
        round = 0
        roundScores.forEach(e => round = e.value > 0 ? round + 1 : round)

        setGamerAverage()
    }

    const setGamerAverage = () => {
        gamerAverage = round > 0 ? sum/(round) : 0
        gamerAverage = parseFloat(gamerAverage).toFixed(1)
    }

    PubSub.subscribe("resetPanels", () => {
        if (sum > 0) {
            let scoreTbl = document.getElementById(scoreTblId)
            let roundScores = scoreTbl.querySelectorAll(".round-score")

            roundScores.forEach(e => e.value = 0)

            sum = 0
            sum = sum

            round = 0
            round = round 

            gamerAverage = 0
            gamerAverage = gamerAverage 
        }
    })
    
div
    ul(id="score-tbl-{name}")
        {#each Array(board) as _, i}
          li
                input(type="number",class="round-score",value="0",on:blur="{updateSum}")

    .info
        h2 {sum}
        sup(title="Avg. Score") {gamerAverage}

style.
    input[type="number"] {
        width: 100px;
        display: block;
    }

    ul.board {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
    }

    ul.board li {
        height: 40px;
    }
    
    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info sup {
        margin-left: 5px;
    }
