script.
    let name = ""

    let board = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,"Bull"]
    let results = {} 
    

div
    {#each board as row}
      ul.board
            li {row}
                input(
                    "type"="checkbox"
                )

style.
    input[type="checkbox"] {
        width: 20px
    }

    ul.board {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
    }

    ul.board li {
        height: 40px;
    }
