script.
    export let maxPoint = 0
    
    let name = Date.now()
    let sum=maxPoint
    let score=0
    let round = 1
    let realSum = 0
    let gamerAverage = 0

    let scoreTblId= "score-tbl-" + name

    const updateSum = (e) => {
        if(score > sum) return

        sum -= score

        if(sum < 0) sum = 0

        sum = sum

        round += 1
        realSum += parseInt(score)

        score = 0
        score = parseInt(score)

        setGamerAverage()
    }

    const setGamerAverage = () => {
        gamerAverage = round > 1 ? realSum/(round-1) : 0
        gamerAverage = parseFloat(gamerAverage).toFixed(1)
    }

    const setScore = (e) => {
        if (e.key == "Enter") updateSum(e)
        else score = e.target.value
    }

    PubSub.subscribe("resetPanels", () => {
        if (sum != maxPoint) {
            sum = maxPoint
            sum = sum
        }

        round = 1
        round = round 

        realSum = 0
        realSum = realSum

        gamerAverage = 0
        gamerAverage = gamerAverage
    })
    
div
    .info
        h1 {sum}
        sup(title="Round #/Avg. Score") {round}/{gamerAverage}

    div.action-row
        input(
          type="number", 
          value={score}
          on:keyup={setScore})

        button(on:click={updateSum}) -

style.
    .action-row {
        display: flex;
        margin-bottom: 100px;
    }

    .action-row input, 
    .action-row button {
        flex-grow: 1;
    }


    .action-row input {
        margin-right: 10px;
    }

    .action-row button {
        background-color: green;
        color: #fff;
        font-weight: bolder;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info sup {
        margin-left: 5px;
    }
