script.
    import GameCricket from "./GameCricket.pug"
    import GameCricketLow from "./GameCricketLow.pug"
    import GameRoundhouse from "./GameRoundhouse.pug"
    import GameUpUpUp from "./GameUpUpUp.pug"

    export let name = ""
    export let maxPoints = ""

    let nodeRef
    let currentPoints = maxPoints
    let winPoints = 0
    let adjPts = 0

    let setName = (e) => name = e.target.value

    let addPoints = () => {
        currentPoints += Math.round(adjPts)
        checkWin()
    }

    let substrPoints = (e) => {
        if( currentPoints >= adjPts ) currentPoints -= Math.round(adjPts)

        adjPts = 0
        checkWin()
    }

    let changeAdjPts = (e) => adjPts = e.target.value

    let checkWin = () => {
        if (currentPoints == winPoints) alert(name.toUpperCase() + " won!")
    }

    let closeMe = () => {
        let closeIt = confirm("Are you sure you want to remove this player?")

        if (closeIt) nodeRef.parentNode.removeChild(nodeRef)
    }

    let isCalcNeeded = () => maxPoints.indexOf("Cricket")<0 && maxPoints != "Roundhouse" && maxPoints != "up"

div.ppanel("bind:this"={nodeRef})
    fieldset
        input(
          "type"="text" 
          "placeholder"="NAME"
          on:keyup="{setName}"
          value="{name}"
        )

        div(style="display:{isCalcNeeded()?'block':'none'}")
            input(
              "type"="number"
              "placeholder"="ADJUST +/-"
              "value"="{adjPts}"
              on:keyup="{changeAdjPts}"
            )

            button(
              on:click="{substrPoints}"
              "class"="btn btn__action"
            ) -

            h1 { currentPoints }
	
        div(style="display:{maxPoints=='Cricket'?'block':'none'}")
            GameCricket

        div(style="display:{maxPoints=='Cricket Low'?'block':'none'}")
            GameCricketLow

        div(style="display:{maxPoints=='Roundhouse'?'block':'none'}")
            GameRoundhouse

        div(style="display:{maxPoints=='up'?'block':'none'}")
            GameUpUpUp

        button(
            on:click="{closeMe}"
            class="btn btn__del"
        ) X

style.
    fieldset {
        border: 1px solid gray;
    }

    input[type="number"] {
        width: 30%;
    }

    .btn {
        width: 100px;
    }

    .btn__del {
        background-color: #f00;
        color: #fff;
    }

    .btn__action {
        background-color: #060;
        color: #fff;
    }


    .ppanel {
        width: 25%;
        overflow: hidden;
        display: inline-block;
    }

    h1 {
        font-size: 4em;
    }
