script.
    export let name = ""
    export let maxPoints

    let currentPoints = maxPoints
    let winPoints = 0
    let adjPts = 0

    let setName = (e) => name = e.target.value

    let addPoints = () => {
        currentPoints += Math.round(adjPts)
        checkWin()
    }

    let substrPoints = (e) => {
        if( currentPoints >= adjPts ) currentPoints -= Math.round(adjPts)

        adjPts = 0
        checkWin()
    }

    let changeAdjPts = (e) => adjPts = e.target.value

    let checkWin = () => {
        if (currentPoints == winPoints) alert(name.toUpperCase() + " won!")
    }

div.ppanel
    fieldset

        input(
          "type"="text" 
          "placeholder"="NAME"
          on:keyup="{setName}"
          value="{name}"
        )

        input(
          "type"="number"
          "placeholder"="ADJUST +/-"
          "value"="{adjPts}"
          on:keyup="{changeAdjPts}"
        )

        button(
          on:click="{substrPoints}"
          "class"="btn"
        ) -

        h1 { currentPoints }

style.
    fieldset {
        border: 1px solid gray;
    }

    .btn {
        width: 100px;
    }

    .ppanel {
        width: 25%;
        overflow: hidden;
        display: inline-block;
    }

    h1 {
        font-size: 4em;
    }
